body {
	font-family: roboto;
}

/* Navigation */
nav {
	background: #021428;
	width: 1903px;
	height: 120px;
}

a{
	line-height: 4;
	color: white;
	font-weight: bolder;
	text-decoration: none;
	margin-left: 20px;
	position: relative;
	top: -13px;
	left: 40px;
}

a:hover {
	color: yellow;
}

a.active {
	color: lime
}

img#logo {
	margin-left: 402px;
	margin-right: 20px;
	margin-top: 14px;
}

/*slide show */
img#slideshow {
	border-bottom: 10px solid #021428;
	width: 1903px;
}

/*home page*/
section#paragraph {
	margin-top: 100px;
}

/* service page */
 
 h1#page-title {
 	margin-left: 400px;
 	color: #021428
 }


img#services-slide{
	margin-left: 401px;
	width: 67%;
}

section#services-paragraph{
	margin: 100px;
	margin-left: 400px;
}
/* portfolio */

img#project1-img, img#project2-img,img#project3-img  {
	margin-left: 201px;

}

div#project1{
	margin-left:751px;
	position: absolute;
	top: 161px;
	left: 0px;
	width: 460px;
}

div#project2{
	margin-left:751px;
	position: absolute;
	top: 571px;
	left: 0px;
	width: 460px;
}

div#project3{
	margin-left:751px;
	position: absolute;
	top: 921px;
	left: 0px;
	width: 460px;
}


a.project1-button {
	width:  100px;
	height: 60px;
	background: #c51a1a;
	position:relative;
	padding:20px;
	top: 4px;
	left: -21px;
}


a.project2-button{
	width:  100px;
	height: 60px;
	background: #c51a1a;
	padding:20px;	
	position:relative;
	top: 46px;
	left: -21px;
}

a.project3-button{
	width:  100px;
	height: 60px;
	background: #c51a1a;
	padding:20px;	
	position:relative;
	top: 46px;
	left: -21px;
}

section#project2{
	margin-top: 50px;

}

/* about page */
img#about-image{
	margin-left: 20px;
}


/* Contact Page */
form {
	margin-left: 302px;

}

.form-control{
	display: block;
	width: 40%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out;
}

.btn-primary {
	color: white;
	background-color: blue;
	border-color: blue;
}

.btn-primary:hover {
	color: white;
	background-color: blue;
	border-color: blue;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .75rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: border-color .15s ease-in-out;
}
/* footer */
footer {
	margin-top: 200px;
	background: #021428;
	width: 100%;
	height: 215px;
	color: white;
}

p#footer-text {
	line-height: 13;
	text-align: center;
}